<br>
<div class="listing-all">
  <p><strong>Gig: </strong><%= @schedule.gig.try(:name) %></p>

  <p><strong>Venue: </strong><%= @schedule.venue.try(:name) %></p>

  <p><strong>Schedule: </strong><%= @schedule.human_readable_date %></p>
  <br>

  <div class="menu">
    <ul>
      <li><strong><%= link_to 'Back', schedules_path %></strong></li>
      <li><strong><%= link_to 'Book This', new_schedule_booking_path(@schedule) %></strong></li>
    </ul>
  </div>

</div>