<div style="transform: skewX(-15deg)" class="container avatarBox .text_center">

  <div class="listing-all">

    <p><strong>Gig Name: </strong><%= gig.name%></p>

    <p><strong>Genre: </strong> <%= gig.genre.try :name %></p>
    <p><%= image_tag gig.gig_image.medium.url %></p>
  
    <p>
      <%= button_to('Show', gig, method: :get)%>
      <%= button_to('Edit', edit_gig_path(gig), method: :get) if can? :manage, Gig %>
      <%= button_to('Delete gig', gig_path(gig), method: :delete, data:{confirm: 'Delete the gig? Are you sure?'}) if can? :delete, Gig %>
    </p>
  </div>
</div>
